.qodo
.env
db.sqlite3
__pycache__
venv
processed_outputs
uploaded_files
media/chat_uploaed
media/profile_images
media
faiss_index
Books
API.env
mentor
media/diagrams
media/rag_files
media/*
doc.tex
playing.py
diagram_output.png
staticfiles/*
hkh.txt
