asgiref==3.8.1
Django==5.2
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.0
google_api_python_client==2.169.0
graphviz==0.20.3
groq==0.26.0
imageio_ffmpeg==0.5.1
isodate==0.6.1
langchain==0.3.25
langchain_community==0.3.25
langchain_groq==0.3.2
pdfminer==20191125
pdfminer_six==20250416
protobuf==6.31.1
pydantic==2.11.5
python-dotenv==1.1.0
yt_dlp==2025.6.9
sentence_transformers==2.2.2
django-allauth
psycopg2
google.generativeai